a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}
/*------ template stylization ------*/body {
    background: url(../img/bg.jpg) 0 0 repeat-x #ffffff;
}
a {
    outline: none;
}
/* headings, text */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    color: #545454;
    font-weight: bold;
    line-height: 1em;
}
h2 {
    font-size: 30px;
    letter-spacing: -2px;
    margin: 53px 0 37px 0;
}
h2 > span {
    color: #a2d1e0;
    font-size: 34px;
}
p {
    margin-bottom: 20px;
}
.p1 {
    margin-bottom: 32px;
}
.lead {
    color: #a2d1e0;
    font-size: 14px;
    line-height: 20px;
}
p.lead {
    margin-bottom: 13px;
}
a.lead {
    color: #a2d1e0;
}
a.lead:hover {
    color: #545454;
}
.font-1 {
    font-size: 14px;
    line-height: 23px;
}
.link {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.link:hover {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.link-1 {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: url(../img/link-1.gif) 0 0 no-repeat;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: -5px;
}
.link-1:hover {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-position: right 0;
}
.link-2 {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #979797;
    text-decoration: underline;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-top: 13px;
}
.link-2:hover {
    color: #a2d1e0;
    text-decoration: underline;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
figure.img-polaroid {
    display: inline-block;
    margin: 0;
}
.img-polaroid a {
    display: block;
}
.img-polaroid {
    padding: 7px;
    background-color: #dedede;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.img-polaroid img {
    max-width: inherit;
    width: 100%;
}
/*touch-touch*/
.magnifier {
    position: relative;
    display: block;
}
.magnifier:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    background: url(../img/magnifier.png) center center no-repeat;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.magnifier:hover:after {
    opacity: 0.8;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
/**/
.top-0 {
    margin-top: 0 !important;
}
.bot-0 {
    margin-bottom: 0 !important;
}
.left-0 {
    margin-left: 0 !important;
}
.last {
    margin-right: 0 !important;
}
.center {
    text-align: center;
}
.indent-1 {
    margin: 42px 0 32px 0;
}
.img-indent {
    margin: 0px 30px 0px 0;
    float: left;
}
.extra-wrap {
    overflow: hidden;
}
.list {
    margin: 0;
    list-style: none;
}
.list li {
    margin: 10px 0 0px 0;
    padding-left: 18px;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    background: url(../img/list.gif) 0 7px no-repeat;
}
.list li:first-child {
    margin-top: 0;
}
.list li a {
    color: #979797;
}
.list li a:hover {
    color: #a2d1e0;
}
/* buttons*/
.btn {
    display: inline-block;
    background: #a2d1e0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    text-shadow: none;
    text-decoration: none;
    padding: 7px 9px 8px 16px;
    margin-top: 18px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.btn span {
    background: url(../img/btn.gif) right 5px no-repeat;
    display: inline-block;
    padding-right: 15px;
}
.btn:hover {
    background: #515151;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
/*------ header ------- */
header {
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
}
header .main-header {
    padding-bottom: 52px;
}
header .sub-header {
    border-bottom: #e7e7e7 1px solid;
    padding-bottom: 52px;
}
/*brand*/
header h1.brand {
    position: relative;
    z-index: 9999;
    display: inline-block;
    float: left;
    margin: 38px 0 0 0;
    padding: 0px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
header h1.brand a {
    display: inline-block;
    text-decoration: none;
    font-size: 50px;
    line-height: 1em;
    color: #545454;
    font-weight: bold;
    letter-spacing: -2px;
}
header h1.brand a span {
    color: #a2d1e0;
}
/* navbar */
.select-menu {
    display: none !important;
}
.navbar_ {
    margin: 59px 0 0 0;
    float: right;
}
.navbar_ .navbar-inner {
    position: relative;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    min-height: inherit;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/*nav*/
.nav-collapse_ {
    margin: 0;
    line-height: 0 !important;
    font-size: 0;
    text-align: center;
}
.nav-collapse_ .nav {
    float: none;
    display: inline-block;
    margin: 0;
}
.nav-collapse_ .nav li {
    margin: 0;
    padding: 0;
    position: relative;
    zoom: 1;
    z-index: 99;
    font-size: 14px;
    line-height: 18px;
}
.nav-collapse_ .nav > li {
    float: left;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/menu-divider.gif) 0 3px no-repeat;
    margin-left: 1px;
}
.nav-collapse_ .nav > li:first-child {
    background: none;
}
.nav-collapse_ .nav:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.nav-collapse_ .nav li a {
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-shadow: none;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.nav-collapse_ .nav > li > a {
    display: inline-block;
    position: relative;
    text-align: left;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 0 17px;
}
.nav-collapse_ .nav > li.sub-menu > a:before {
    content: " ";
    position: absolute;
    background: url(../img/menu-marker.gif) right 0 no-repeat;
    width: 5px;
    height: 3px;
    right: 5px;
    bottom: 8px;
}
.nav-collapse_ .nav > li.sfHover > a:after,
.nav-collapse_ .nav > li.active > a:after,
.nav-collapse_ .nav > li:hover > a:after {
    content: " ";
    position: absolute;
    background: #a2d1e0;
    height: 9px;
    display: block;
    left: 12px;
    right: 12px;
    top: -59px;
}
.nav-collapse_ .nav > li.sfHover > a,
.nav-collapse_ .nav > li.sfHover > a:hover,
.nav-collapse_ .nav > li > a:hover,
.nav-collapse_ .nav > li.active > a,
.nav-collapse_ .nav > li.active > a:hover {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #a2d1e0;
    text-shadow: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.nav-collapse_ .nav > li.sfHover > a span,
.nav-collapse_ .nav > li.sfHover > a:hover span,
.nav-collapse_ .nav > li > a:hover span,
.nav-collapse_ .nav > li.active > a span,
.nav-collapse_ .nav > li.active > a:hover span {
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.nav-collapse_ .nav li ul {
    position: absolute;
    display: none;
    width: 132px;
    list-style: none;
    zoom: 1;
    z-index: 9;
    margin: 0;
    padding: 23px 0px 23px 0px;
    background: #515151;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.nav-collapse_ .nav > li > ul {
    left: -12px;
    top: 24px;
}
.nav-collapse_ .nav ul li {
    line-height: 15px;
    display: block;
    text-align: left;
    position: relative;
    margin: 0;
    padding: 0;
}
.nav-collapse_ .nav ul li:first-child {
    margin-top: 0;
}
.nav-collapse_ .nav ul li a {
    line-height: 15px;
    font-size: 11px;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    padding: 7px 10px 8px 10px;
    color: #ffffff;
}
.nav-collapse_ .nav > li > ul li > a:hover,
.nav-collapse_ .nav > li > ul li.sfHover > a {
    text-decoration: none;
    color: #ffffff;
    background: #a2d1e0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.nav-collapse_ .nav > li > ul ul {
    left: 132px;
    top: -23px;
    background: #777777;
}
.nav-collapse_ .nav li li.sub-menu > a:before {
    content: " ";
    position: absolute;
    background: url(../img/menu-marker.gif) 0 0 no-repeat;
    width: 5px;
    height: 3px;
    right: 10px;
    top: 50%;
    margin-top: -2px;
}
/* slider */
.slider {
    position: relative;
    z-index: 1;
    padding: 0;
    overflow: hidden;
}
.slider .camera_wrap {
    margin-bottom: 0 !important;
    height: 367px;
}
.camera_wrap .camera_pag {
    display: none;
}
.camera_prev,
.camera_next {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 35px;
    z-index: 999;
    cursor: pointer;
}
.camera_prev {
    background: url(../img/prev.png) 0 0 no-repeat;
    right: 69px;
}
.camera_next {
    background: url(../img/next.png) 0 0 no-repeat;
    right: 36px;
}
.camera_prev:hover,
.camera_next:hover {
    background-position: 0 bottom;
}
.camera_caption {
    position: absolute;
    right: 0;
    top: 109px;
    text-align: right;
}
.camera_caption strong {
    font-size: 100px;
    line-height: 1em;
    display: inline-block;
    color: #fff;
    background: #a2d1e0;
    padding: 6px 30px;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: -3px;
}
.camera_caption span {
    font-size: 50px;
    line-height: 1em;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    background: #515151;
    padding: 1px 40px 5px 40px;
    margin-top: 1px;
    white-space: nowrap;
    letter-spacing: -2px;
}
/*--- header end ------*/
/*------ content ------- */
#content {
    padding-bottom: 38px;
}
.border-bottom {
    border-bottom: #ebebeb 1px solid;
    padding-top: 40px;
}
.block-1 {
    overflow: hidden;
}
.block-1 .span3 h2 {
    margin: 54px 0 34px 0;
}
.block-1 p {
    font-size: 14px;
    line-height: 23px;
    margin: 22px 0 0 0;
}
.title-1 {
    display: block;
    font-size: 50px;
    line-height: 1em;
    color: #545454;
    letter-spacing: -3px;
    margin: 40px 0 23px 0;
}
.blockquote {
    margin-top: 44px;
}
.blockquote blockquote {
    font-size: 25px;
    line-height: 1.2em;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 38px 20px 35px 40px;
    letter-spacing: -1px;
    margin: 0;
    position: relative;
    background: #a2d1e0;
    margin-bottom: 15px;
}
.blockquote blockquote:after {
    content: "";
    position: absolute;
    background: url(../img/blockquote.png) 0 0 no-repeat;
    width: 25px;
    height: 25px;
    right: 23px;
    bottom: -25px;
    z-index: 1;
}
.block-2 .span3 {
    margin-top: 35px;
}
.block-2 .span3 img {
    float: left;
    margin: 5px 20px 0 0;
}
.block-2 .span3 div {
    padding-bottom: 20px;
}
.block-2 .span3 h2 {
    margin: 0;
}
.block-3 {
    border-bottom: #e8e8e8 1px solid;
    padding-bottom: 31px;
}
.block-3 figure {
    float: left;
    margin: 0 30px 0 0;
}
.lists {
    overflow: hidden;
}
.lists ul {
    float: none;
}
.lists ul + ul {
    margin: 20px 0 0 0px;
}
.block-4 {
    overflow: hidden;
}
.block-4 .lead {
    margin-bottom: 19px;
}
.block-4 .link-2 {
    display: inline;
}
.block-4 figure {
    margin-bottom: 20px;
}
.block-4 div {
    float: left;
    width: 230px;
    margin-top: 27px;
    margin-right: 20px;
}
.block-5 img {
    float: left;
    margin: 0 30px 0 0;
}
.block-6 {
    margin-bottom: 39px;
    overflow: hidden;
}
.block-6 figure {
    float: left;
    margin: 0 30px 0 0;
}
.block-6 .list {
    margin-left: 20px;
}
.block-6 > div {
    overflow: hidden;
}
/*dl-horizontal*/
.dl-horizontal {
    margin: 0;
    padding: 0;
}
.dl-horizontal dt {
    width: 65px;
    margin-right: 30px;
    padding: 0;
    text-align: left;
    float: left;
}
.dl-horizontal dd {
    margin: 0;
    overflow: hidden;
    padding: 0px;
    line-height: 20px;
}
.dl-horizontal dd.clearfix {
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 28px 0 0 0;
    width: 100%;
}
/*badge*/
.badge {
    background: #dedede;
    text-shadow: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 35px;
    line-height: 1em;
    color: #545454;
}
.badge span {
    display: block;
    font-size: 14px;
    line-height: 17px;
    padding: 3px 0;
    color: #fff;
    font-weight: normal;
    background: #a2d1e0;
}
.badge strong {
    display: block;
    font-weight: bold;
    padding: 3px 0 4px 0;
}
/*thumbnails*/.thumbnails {
    margin: -34px 0 0 -20px;
    overflow: hidden;
}
.thumbnails li {
    margin-top: 34px;
    margin-bottom: 0;
    float: left;
}
.thumbnails .thumbnail {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0;
}
.thumbnails .thumbnail figure {
    margin-bottom: 21px;
    width: 100%;
}
.thumbnails .thumbnail p.font-1 {
    margin-bottom: 0px;
}
/*dl-horizontal-2*/
.dl-horizontal-2 {
    margin: 0;
    padding: 0;
}
.dl-horizontal-2 dt {
    width: 40px;
    font-size: 20px;
    color: #545454;
    font-weight: bold;
    margin-right: 0px;
    padding: 0;
    text-align: left;
    float: left;
}
.dl-horizontal-2 dd {
    margin: 0;
    overflow: hidden;
    padding: 0px;
}
.dl-horizontal-2 dd p {
    margin-bottom: 0;
    padding-bottom: 14px;
}
.dl-horizontal-2 dd.clearfix {
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 16px 0 0 0;
    width: 100%;
}
/*-- contacts page --*/
.map {
    margin: 57px 0 0px 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
}
.map figure {
    width: 100%;
}
.map iframe {
    width: 100%;
    height: 341px;
    border: none;
}
.address {
    display: block;
    margin: 0;
}
.address strong {
    display: block;
    font-weight: normal;
    margin-bottom: 14px;
}
.address span {
    display: inline-block;
    width: 75px;
}
.address a {
    font-size: 14px;
}
.contact-form {
    position: relative;
    display: block;
    margin: 0;
}
.contact-form input {
    height: 33px;
    width: 100%;
    padding: 6px 10px 6px 10px;
    line-height: 19px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    background: #fff;
    font-size: 14px;
    color: #979797;
    float: left;
    border: #e1e1e1 1px solid;
}
.contact-form label {
    min-height: 43px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    float: left;
}
.contact-form label.message {
    width: 100%;
}
.contact-form .error,
.contact-form .empty {
    display: none;
    position: absolute;
    font-size: 11px;
    line-height: 14px;
    color: #9d261d;
    right: 5px;
    top: 5px;
}
.contact-form .success {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    border: #e1e1e1 1px solid;
    display: none;
    padding: 10px;
    z-index: 99;
    text-align: center;
}
.contact-form textarea {
    width: 100%;
    height: 176px;
    padding: 6px 0 0 10px;
    font-size: 14px;
    margin: 0;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #fff;
    color: #979797;
    box-shadow: none;
    float: left;
    border: #e1e1e1 1px solid;
}
.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: none !important;
    color: #979797 !important;
    border-color: #e1e1e1 !important;
}
.contact-form .link-2 {
    margin-right: 20px;
    margin-top: 20px;
    float: left;
}
/*-- end contacts --*/
/*privacy*/
.float {
    float: left;
}
.float2 {
    float: right;
}
/*--- content end ------*/
/*------ footer ------- */
footer {
    position: relative;
}
footer .span12 {
    border-top: #ebebeb 1px solid;
    padding-top: 70px;
    padding-bottom: 40px;
}
footer a.footer-logo {
    font-size: 30px;
    line-height: 1em;
    color: #545454;
    font-weight: bold;
    letter-spacing: -1px;
    display: inline-block;
    float: left;
}
footer a.footer-logo > span {
    color: #a2d1e0;
}
footer .span12 > span > span {
    display: inline-block;
    margin: 8px 0 0 15px;
}
footer .span12 > span > span a {
    color: #979797;
}
footer .span12 > span > span a:hover {
    color: #a2d1e0;
}
/*social-icons*/
.social-icons {
    float: right;
    overflow: hidden;
    margin-right: 45px;
}
.social-icons > span {
    display: inline-block;
    float: left;
    margin: 7px 10px 0 0;
}
.social-icons ul {
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
}
.social-icons li {
    float: left;
    display: inline-block;
    margin-left: 3px;
    line-height: 0;
}
.social-icons li:first-child {
    margin-left: 0;
}
.social-icons li a {
    width: 30px;
    height: 30px;
    display: block;
}
.social-icons li a.icon-1 {
    background: url(../img/icon-1.png) 0 0 no-repeat;
}
.social-icons li a.icon-2 {
    background: url(../img/icon-2.png) 0 0 no-repeat;
}
.social-icons li a.icon-3 {
    background: url(../img/icon-3.png) 0 0 no-repeat;
}
.social-icons li a.icon-4 {
    background: url(../img/icon-4.png) 0 0 no-repeat;
}
.social-icons li a:hover {
    background-position: 0 bottom;
}
/**/
/*--- footer end ------*/
/*404 page*/
.block-404 .span7 {
    padding-top: 39px;
    text-align: center;
}
.block-404 .span5 {
    padding-top: 80px;
}
.block-404 .span5 > div {
    padding-right: 0px;
}
.block-404 h2 {
    margin: 0 0 28px 0;
    line-height: 36px;
}
.block-404 p {
    padding-right: 20px;
}
/* search-form */.form-404 {
    background: #fff;
    border: #e1e1e1 1px solid;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 32px 0 0 0;
    width: 100%;
    height: 31px;
    padding: 0;
    overflow: hidden;
}
.form-404 input {
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 33px;
    line-height: 19px;
    color: #979797;
    font-size: 14px;
    width: 80%;
    float: left;
    margin: 0px;
    padding: 5px 10px 7px 10px;
}
.form-404 input:focus {
    box-shadow: none;
}
.form-404 a {
    margin: 0;
    display: inline-block;
    width: 42px;
    height: 31px;
    background: url(../img/search.png) 0 0 no-repeat;
    float: right;
}
.form-404 a:hover {
    background: url(../img/search.png) right 0 no-repeat;
}
/**/
/*----- media queries ------*/
@media (min-width: 1200px) {
    .slider .camera_wrap {
        height: 456px;
    }
    .camera_caption {
        top: 129px;
    }
    .lists ul {
        float: left;
        width: 170px;
    }
    .lists ul + ul {
        margin: 0 0 0 30px;
    }
    .thumbnails {
        margin-left: -30px;
    }
    .contact-form input {
        width: 270px;
    }
    .contact-form label {
        display: inline-block;
        width: inherit;
        float: left;
    }
    .block-6 .list {
        margin-left: 30px;
    }
    .block-404 .span5 > div {
        padding-right: 100px;
    }
}
@media (max-width: 1199px) {

}
@media (min-width: 980px) and (max-width: 1199px) {

}
@media (max-width: 979px) {
    .camera_caption {
        top: 50px;
    }
    .camera_caption strong {
        font-size: 50px;
        letter-spacing: -3px;
    }
    .camera_caption span {
        font-size: 30px;
    }
    .social-icons {
        margin-right: 0px;
    }
    .block-6 .span6 {
        width: 100%;
        float: none;
    }
    .block-6 .list {
        float: none;
        width: auto;
        margin-left: 0px;
        margin-top: 20px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    /* navbar */
    .navbar_ {
        padding: 0;
        margin-top: 45px;
    }
    .navbar_ .btn-navbar {
        display: none;
    }
    .navbar_ .nav-collapse_ {
        overflow: visible;
        height: auto;
        line-height: 0;
        clear: none;
    }
    .nav-collapse_ .nav > li a {
        font-weight: normal;
    }
    .nav-collapse_ .nav > li.sfHover > a:after,
    .nav-collapse_ .nav > li.active > a:after,
    .nav-collapse_ .nav > li:hover > a:after {
        top: -45px;
    }
    .nav-collapse_ .nav > li > a {
        padding: 0 13px;
    }
    header h1.brand a {
        font-size: 35px;
        display: inline-block;
        float: left;
    }
    .slider .camera_wrap {
        height: 282px;
    }
    h2 {
        font-size: 25px;
    }
    h2 > span {
        font-size: 27px;
    }
    .blockquote blockquote {
        font-size: 18px;
        padding-left: 25px;
    }
    .block-2 .span3 div {
        text-align: center;
    }
    .block-2 .span3 img {
        float: none;
        margin: 5px 20px 5px 0;
    }
    .lists ul {
        float: left;
        width: 170px;
    }
    .lists ul + ul {
        margin: 0 0 0 30px;
    }
    .thumbnails li {
        width: 47%;
    }
    .address span {
        display: inline-block;
        width: 65px;
    }
}
@media (max-width: 767px) {
    body {
        padding: 0;
        margin: 0;
    }
    .container {
        padding: 0 20px;
    }
    /* navbar */
    .select-menu {
        display: none !important;
    }
    .navbar_ {
        float: none;
    }
    .select-menu {
        display: block !important;
    }
    .navbar_ .nav-collapse_ .nav {
        display: none !important;
    }
    .navbar_ .btn-navbar {
        display: none;
    }
    .navbar_ .nav-collapse {
        overflow: visible;
    }
    .navbar_ .nav-collapse {
        height: auto;
        padding: 15px 0 15px 0;
    }
    .navbar_ .nav-collapse select {
        width: 100%;
        position: relative;
        margin: 0;
        background: #ededed;
        border: #a6a6a6 1px solid;
    }
    /**/
    .slider .camera_wrap {
        min-height: inherit;
    }
    .camera_prev {
        bottom: 15px;
        right: 48px;
    }
    .camera_next {
        bottom: 15px;
        right: 15px;
    }
    /**/
    .float {
        float: none !important;
    }
    .float2 {
        float: none !important;
    }
    .block-1 {
        margin-left: -20px;
    }
    .block-1 .span3 {
        width: 45%;
        float: left;
        margin-left: 20px;
    }
    .block-1 .span3 figure {
        width: 100%;
    }
    .social-icons {
        float: none;
    }
    footer .span12 > span {
        float: none;
        display: block;
    }
}
@media (min-width: 626px) and (max-width: 767px) {
    .thumbnails li {
        width: 45%;
        margin-left: 20px;
    }
}
@media (max-width: 625px) {
    .camera_caption {
        display: none !important;
    }
}
@media (min-width: 482px) and (max-width: 625px) {
    .thumbnails li {
        width: 43%;
        margin-left: 20px;
    }
}
@media (max-width: 481px) {
    .social-icons {
        float: none;
    }
    header h1.brand a {
        font-size: 35px;
        display: inline-block;
        float: left;
    }
    .block-1 {
        margin-left: 0px;
    }
    .block-1 .span3 {
        width: 100%;
        float: none;
        margin-left: 0px;
    }
    .block-3 figure {
        float: none;
        width: 100%;
        margin: 0 0px 10px 0;
    }
    .block-4 div {
        float: none;
        margin-right: 0px;
        margin-top: 27px;
        width: auto;
    }
    .block-4 div figure {
        width: 100%;
    }
    footer a.footer-logo {
        float: none;
    }
    footer .span12 > span > span {
        display: block;
        margin: 8px 0 0 0px;
    }
    .block-6 figure {
        float: none;
        margin: 0 0px 20px 0;
        width: 100%;
    }
    .thumbnails {
        margin-left: 0;
    }
    .thumbnails li {
        width: 100%;
        margin-left: 0;
    }
}
@media (min-width: 321px) and (max-width: 481px) {

}
@media (max-width: 320px) {

}
/*Core variables and mixins*/
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
